openapi: 3.1.0
info:
  title: LingoGrade Bot API
  version: 1.0.0
  description: Free analysis, paid bot assessment, checkout, webhooks, stickers, and partner endpoints.
  contact:
    email: marco@lingograde.com

servers:
  - url: https://api.lingograde.com
    description: Production

paths:
  /v1/analyse:
    post:
      summary: Free 5-min language snapshot
      tags: [Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 30, maxLength: 3000 }
                lang: { type: string, default: en }
                session_id: { type: string }
                email: { type: string, format: email }
      responses:
        "200":
          description: CEFR analysis result
          content:
            application/json:
              schema:
                type: object
                properties:
                  cefr_estimate: { type: string }
                  strengths: { type: array, items: { type: string } }
                  focus_areas: { type: array, items: { type: string } }
                  flashcards: { type: array }
                  marco_comment: { type: string }
        "429": { description: Rate limited }

  /v1/free-bot/start:
    post:
      summary: Start free 5-min conversation
      tags: [Free Bot]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lang: { type: string, default: en }
                session_id: { type: string }
      responses:
        "200":
          description: Bot session started
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_id: { type: string }
                  first_message: { type: string }

  /v1/free-bot/turn:
    post:
      summary: Send message in free conversation
      tags: [Free Bot]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [bot_id, message]
              properties:
                bot_id: { type: string }
                message: { type: string }
      responses:
        "200":
          description: Bot response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response: { type: string }
                  complete: { type: boolean }
                  turn: { type: integer }
                  result: { type: object }

  /v1/free-bot/email:
    post:
      summary: Attach email to free bot session
      tags: [Free Bot]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [bot_id, email]
              properties:
                bot_id: { type: string }
                email: { type: string, format: email }
      responses:
        "200": { description: Email attached }

  /v1/free-bot/complete/{bot_id}:
    get:
      summary: Get completed free bot result
      tags: [Free Bot]
      parameters:
        - name: bot_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Completed result or in-progress status

  /v1/payment/intent:
    post:
      summary: Create Stripe PaymentIntent for bot assessment
      tags: [Checkout]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                session_id: { type: string }
                package: { type: string, default: bot-assessment }
      responses:
        "200":
          description: PaymentIntent client secret
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret: { type: string }

  /v1/assess/start:
    post:
      summary: Begin paid chatbot assessment session
      tags: [Assessment]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [payment_intent_id]
              properties:
                payment_intent_id: { type: string }
                email: { type: string, format: email }
                session_id: { type: string }
                lang: { type: string, default: en }
      responses:
        "200":
          description: Assessment session started
          content:
            application/json:
              schema:
                type: object
                properties:
                  assess_session_id: { type: string }
                  first_message: { type: string }

  /v1/assess/turn:
    post:
      summary: Send message in assessment
      tags: [Assessment]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [assess_session_id, message]
              properties:
                assess_session_id: { type: string }
                message: { type: string }
      responses:
        "200":
          description: Assessment response (may include final report)

  /v1/assess/report/{assess_id}:
    get:
      summary: Download assessment mini-report PDF
      tags: [Assessment]
      parameters:
        - name: assess_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: PDF report
          content:
            application/pdf: {}

  /v1/checkout/accessory:
    post:
      summary: Checkout for merch (cap, bracelet, pin)
      tags: [Checkout]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, product]
              properties:
                email: { type: string, format: email }
                product: { type: string, enum: [cap, bracelet, pin] }
      responses:
        "200":
          description: Stripe checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url: { type: string }
                  session_id: { type: string }

  /v1/checkout/kids:
    post:
      summary: Checkout for kids assessment
      tags: [Checkout]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [parent_email, child_name, age_group, package]
              properties:
                parent_email: { type: string, format: email }
                child_name: { type: string }
                age_group: { type: string, enum: ["6-8", "9-11", "12-14", "15-17"] }
                package: { type: string, enum: [quick, full, deep-dive] }
                currency: { type: string, default: eur }
                guardian_name: { type: string }
      responses:
        "200":
          description: Stripe checkout URL

  /v1/checkout/mega-bundle:
    post:
      summary: Checkout for Mega Bundle
      tags: [Checkout]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                currency: { type: string, default: eur }
      responses:
        "200":
          description: Stripe checkout URL

  /v1/stripe/webhook:
    post:
      summary: Stripe webhook handler
      tags: [Webhooks]
      description: Handles payment_intent.succeeded and checkout.session.completed events.
      responses:
        "200": { description: OK }

  /v1/stickers/map:
    get:
      summary: Public sticker placement map data
      tags: [Stickers]
      responses:
        "200":
          description: Sticker placement locations and stats

  /v1/stickers/verify:
    post:
      summary: Submit sticker selfie for verification
      tags: [Stickers]
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [sticker_uuid, latitude, longitude, selfie]
              properties:
                sticker_uuid: { type: string }
                latitude: { type: number }
                longitude: { type: number }
                city: { type: string }
                country: { type: string }
                selfie: { type: string, format: binary }
      responses:
        "201":
          description: Verification submitted

  /api/partner-apply:
    post:
      summary: Submit partner application
      tags: [Partners]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name, email]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                institution: { type: string }
                country: { type: string }
                languages: { type: string }
                referral_source: { type: string }
      responses:
        "200": { description: Application received }

  /v1/config:
    get:
      summary: Public frontend config (Stripe publishable key)
      tags: [Config]
      responses:
        "200":
          description: Config object

  /health:
    get:
      summary: Health check
      tags: [Config]
      responses:
        "200":
          description: Service status

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
